<template>
  <div :class="$style.container">
    <label :class="$style.inputWrapper">
      <div :class="$style.label">{{ label }}</div>
      <input
        v-model="search"
        type="text"
        :class="$style.input"
        @focus.prevent="activate"
        @blur.prevent="deactivate"
      />
    </label>
    <div v-show="isOpen && options.length" :class="$style.contentWrapper" @mousedown.prevent>
      <ul :class="$style.content">
        <li v-for="(option, index) of options" :key="index" :class="$style.element">
          <div :class="$style.option" @click.stop="select(option)">
            <div :class="$style.optionCaption">{{ option.name }}</div>
            <div :class="$style.optionDescription">{{ option.displayText }}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VAutocomplete',
  props: {
    label: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    isOpen: false,
    search: ''
  }),
  watch: {
    search(text) {
      this.$emit('input', text);
    }
  },
  methods: {
    activate() {
      this.isOpen = true;
    },
    deactivate() {
      this.isOpen = false;
    },
    select(option) {
      this.search = option.name;
    }
  }
};
</script>

<style module>
.container {
  position: relative;
}
.inputWrapper {
  display: inline-block;
  text-align: left;
  width: 100%;
}
.input {
  background: url('~@/assets/search.svg') #fff no-repeat center left 5px;
  border: none;
  outline: none;
  padding: 6px 5px 6px 29px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 100%;
}
.label {
  color: #75787b;
  font-size: 10px;
  margin-bottom: 2px;
}
.contentWrapper {
  margin-top: 5px;
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border-radius: 2px;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
}
.content {
  list-style: none;
  display: inline-block;
  padding: 5px 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
  text-align: left;
}
.element {
  display: block;
}
.option {
  display: block;
  padding: 5px 10px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.optionCaption {
  font-size: 14px;
  font-weight: 400;
}
.optionDescription {
  font-size: 12px;
  color: #75787b;
}
</style>
