<template>
  <div id="app">
    <div :class="$style.wrapper">
      <VAutocomplete label="Выберите город" :options="options" @input="debouncedSearch" />
    </div>
  </div>
</template>

<script>
import debounce from 'lodash.debounce';
import VAutocomplete from '@/components/VAutocomplete';
import api from '../service/api';

export default {
  name: 'App',
  components: {
    VAutocomplete
  },
  data: () => ({
    options: []
  }),
  methods: {
    debouncedSearch: debounce(function (text) {
      return api.search(text).then((options) => {
        this.options = options;
      });
    }, 300)
  }
};
</script>

<style>
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #d0d0ce;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>

<style module>
.wrapper {
  width: 300px;
  margin: 0 auto;
}
</style>
